{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Forgot password</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'app_blog/css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">
  </head>

  <body class="text-center">

    {% if not request.user.is_authenticated %}

    <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
    
    {%  csrf_token %}

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>


      <div class="btn-group">
        <button id="btn_username" type="button" class="btn btn-primary">via Username</button>
        <button id="btn_email" type="button" class="btn btn-secondary">via Email</button>
      </div>  


      <input id="inp_email" type="Email" name="email" class="form-control" placeholder="Email" required autofocus>
      <label for="username" class="sr-only">User name</label>
      <input id="inp_username" type="text" name="username" class="form-control" placeholder="User name" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <br>
        <a href="{% url "accounts:forgot" %}">Forgot password</a>

      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

    {% else %}

    <h1 class="h3 mb-3 font-weight-normal">You are logged in</h1>

    {% endif %}

    <script src="{% static 'app_blog/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script>
      $(document).ready(function(){
        $("#btn_username").click(function(){
          $("#inp_username").show();
          $("#inp_email").hide();
        });

        $("#btn_email").click(function(){
          $("#inp_username").hide();
          $("#inp_email").show();

        });

        $("#btn_username").click();
      });
    </script>


  </body>
</html>

