{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Forgot password</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'app_blog/css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">
  </head>

  <body class="text-center">


    <form class="form-signin" method="post" action="{% url 'accounts:reset_password' %}">
    
    {%  csrf_token %}

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>

      <input id="inp_email" type="Email" name="email" class="form-control" placeholder="Email" required autofocus>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send Code</button>

    </form>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <script src="{% static 'app_blog/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script>
      $(document).ready(function(){
        $("#btn_username").click(function(){
          $("#inp_username").show();
          $("#inp_email").hide();
        });

        $("#btn_email").click(function(){
          $("#inp_username").hide();
          $("#inp_email").show();

        });

        $("#btn_username").click();
      });
    </script>


  </body>
</html>

