{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<h1 class="h3 mb-3 font-weight-normal">Change password</h1>
<form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    <input type="password" name="new_password1" class="form-control"  autocomplete="new-password" required="" id="id_new_password1" placeholder="new password">
    <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2" placeholder="confirm new password">

    <div class="">
        {% for error in form.new_password1.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {% for error in form.new_password2.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
    </div>


    
    <button type='submit' class="btn btn-lg btn-primary btn-block">change password</button>
</form>



{% endblock %}